@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
	font-family: "Montserrat", sans-serif;
	transition: 250ms;
	overflow: hidden;
	--standart_gray: #171717;
	--header: #171717;
	--listitem-bg: rgba(0, 0, 0, 0.2);
	--darker_gray: #6e6e6e;
	--border-color: #404040;
	--color: #fff;
	--shadow: 0px 3px 6px 0px rgba(107, 107, 107, 40%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background-color: var(--standart_gray);
	color: var(--color);
}
#pre-room {
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 50vh;
	min-width: 70%;
	border: var(--border-color) 1px solid;
	padding: 1em;
	position: absolute;
}
.user-listitem {
	list-style: none;
	padding: 0.5em;
	background-color: var(--listitem-bg);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: fit-content;
	margin: 0.7em;
	border: 1px solid var(--border-color);
}
.icon-size-small {
	font-size: 1.5em;
}
.icon-size-medium {
	font-size: 2em;
}
.icon-size-large {
	font-size: 2.5em;
}
.icon-spacing-right {
	margin-right: 10px;
}
.icon-spacing-left {
	margin-right: 10px;
}
#form,
#formCreate,
#joincreateselection {
	text-align: center;
	padding: 2em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	border: var(--border-color) 1px solid;
}
#form,
#formCreate {
	display: none;
}
#openLobbys {
	display: none;
}
#form > *,
#formCreate > * {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	border-radius: 5px;
	outline: none;
	border: none;
	margin-bottom: 1em;
}
#form input[type="submit"],
#formCreate input[type="submit"] {
	cursor: pointer;
}
#backToForm {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
#waitroom-box-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: var(--border-color) solid 1px;
}
#Create,
#Join,
.bt-small {
	margin: 1em;
	border-radius: 50px;
	padding: 0.5em 2em 0.5em 2em;
	color: #171717;
	background-color: white;
	border: 1px white solid;
	cursor: pointer;
}
#startbt {
	position: absolute;
	bottom: 0;
	left: 0;
}
#Create:hover,
#Join:hover,
.bt-small:hover {
	background-color: transparent;
	color: white;
}
.fail {
	color: red;
	visibility: hidden;
	word-wrap: normal;
	font-weight: bold;
}
.transition {
	animation: animatefaildiv 900ms forwards 2s ease-out;
}
@keyframes animatefaildiv {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

#chat {
	width: 30%;
	min-height: 100%;
	border-left: var(--border-color) solid 1px;
	position: absolute;
	right: 0;
	top: 0;
}
#chatform {
	position: absolute;
	bottom: 0;
	display: flex;
	padding: 0.5em 0 0.5em 0;
	width: 100%;
	height: 1.5em;
	align-items: center;
	border: var(--border-color) 1px solid;
}
#chatform > * {
	position: absolute;
	min-height: 100%;
}
#chatform input[type="submit"] {
	right: 0;
	min-width: 30%;
	border: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	outline: none;
	padding: 0;
}
#chatform input[type="submit"]:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
#chatform input[type="text"] {
	box-sizing: border-box;
	left: 0;
	min-width: 70%;
	max-width: 70%;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.4);
	outline: none;
	color: #fff;
	padding-inline: 10px 10px;
	border: none;
}
#pre-room-header {
	max-width: 70%;
}
#chatarea {
	overflow-y: visible;
	height: 100%;
	top: 0;
	height: calc(100% - 40px);
	min-width: 100%;
	position: absolute;
}
.message {
	box-sizing: border-box;
	margin-bottom: 0.3em;
	padding: 0.5em;
	padding-inline: 10px 10px;
	background-color: rgb(37, 37, 37);
	display: flex;
	flex-direction: column;
}
.chat-name {
	position: relative;
	left: 0;
	top: 0;
	color: rgb(163, 163, 163);
	border-bottom: var(--border-color) 1px solid;
}
.chat-message-content {
	padding-inline: 10px 10px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.system-message {
	color: rgb(163, 163, 163);
	padding-inline: 15px;
	background-color: transparent;
	box-sizing: border-box;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}
header {
	font-size: 1.5em;
	border-bottom: 1px solid rgb(245, 241, 30);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.2em 0 0.2em 0;
	padding-inline: 1em;
}
header #copyrights {
	color: rgba(107, 107, 107, 40%);
}
#header-title {
	display: flex;
	align-items: center;
}
#header-title ion-icon {
	padding-right: 0.5em;
}
#game-section {
	display: none;
	position: relative;
	height: 100vh;
	width: 100vw;
}
#game-textarea {
	height: 12em;
	width: 50vw;
	margin-left: 2em;
	margin-top: 2em;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	resize: vertical;
	padding-inline: 10px 20px;
	font-size: 1.5em;
	background-color: #2e2e2e;
	color: #fff;
	outline: none;
	overflow-y: visible;
}
#game-text-submit {
	margin-left: 64px;
	margin-top: 2em;
	outline: none;
	padding: 0.6em 1.2em 0.6em 1.2em;
	border: none;
	cursor: pointer;
	color: #fff;
	background-color: deepskyblue;
}
#game-text-submit:hover {
	box-shadow: 0px 0px 20px 0px deepskyblue;
}

#ready-wrapper {
	top: 0;
	position: absolute;
	right: 0;
	margin-top: 2em;
	margin-right: 2em;
	display: flex;
	flex-direction: column;
}
#textinput-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.information-wrapper{
	margin-right: 2em;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}