@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
	font-family: "Montserrat", sans-serif;
	transition: 250ms;
	overflow: hidden;
	--standart_gray: #171717;
	--header: #171717;
	--listitem-bg: rgba(0, 0, 0, 0.2);
	--darker_gray: #6e6e6e;
	--border-color: #404040;
	--color: #fff;
	--shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	color: var(--color);
}
body {
	background-image: url("../img/background.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#pre-room {
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50vh;
	min-width: 70%;
	background-color: rgba(78, 78, 78, 0.2);
	box-shadow: var(--shadow);
	backdrop-filter: blur(40px);
	border: solid 2px transparent;
	background-clip: padding-box;
	border-radius: 20px;
	padding: 1em;
	position: absolute;
}
#player-list {
	transform-style: preserve-3d;
	perspective: 500px;
	max-height: 70%;
	overflow-y: auto;
	position: absolute;
	padding-bottom: 20px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	min-width: 50%;
}
#player-list::-webkit-scrollbar {
	display: none;
}
#chatarea::-webkit-scrollbar {
	display: none;
}
.user-listitem {
	list-style: none;
	padding: 0.5em;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: fit-content;
	margin: 0.7em;
	background: rgb(167, 35, 58);
	background: linear-gradient(90deg, rgba(167, 35, 58, 1) 0%, rgba(0, 18, 32, 1) 95%);
	box-shadow: var(--shadow);
	backdrop-filter: blur(40px);
	border: solid 2px transparent;
	background-clip: padding-box;
	transform: translateZ(0px);
	overflow: visible;
}
@keyframes fadein {
	0% {
		transform: translateZ(20px);
	}
	100% {
		transform: translateZ(0px);
	}
}
.user-listitem:hover {
	transform: translateZ(10px);
}
.icon-size-small {
	font-size: 1.5em;
}
.icon-size-medium {
	font-size: 2em;
}
.icon-size-large {
	font-size: 2.5em;
}
.icon-spacing-right {
	margin-right: 10px;
}
.icon-spacing-left {
	margin-right: 10px;
}
#form,
#formCreate,
#joincreateselection {
	text-align: center;
	padding: 2em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 20px;
	background-color: rgba(78, 78, 78, 0.2);
	box-shadow: var(--shadow);
	backdrop-filter: blur(40px);
	border: solid 2px transparent;
	background-clip: padding-box;
	align-items: center;
	flex-direction: column;
}
#form,
#formCreate {
	display: none;
}
#openLobbys {
	display: none;
}
#form > input[type="text"],
#formCreate > input[type="text"] {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	border-radius: 5px;
	outline: none;
	border: none;
	margin-bottom: 1em;
}
#form input[type="submit"],
#formCreate input[type="submit"] {
	cursor: pointer;
}
#backToForm {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
#waitroom-box-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: var(--border-color) solid 1px;
}

.bt-small {
	margin: 1em;
	border-radius: 50px;
	padding: 0.5em 2em 0.5em 2em;
	color: #171717;
	background-color: white;
	border: 1px white solid !important;
	cursor: pointer;
}
#startbt {
	position: absolute;
	bottom: 0;
	left: 0;
}
#Create:hover,
#Join:hover,
.bt-small:hover {
	background-color: transparent;
	color: white;
}
.fail {
	color: red;
	visibility: hidden;
	font-weight: bold;
}
.transition {
	animation: animatefaildiv 900ms forwards 5s ease-out;
	animation-fill-mode: forwards;
}
@keyframes animatefaildiv {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		visibility: hidden;
	}
}

#chat {
	width: 30%;
	min-height: 100%;
	border-left: var(--border-color) solid 1px;
	position: absolute;
	right: 0;
	top: 0;
}
#chatform {
	position: absolute;
	bottom: 0;
	display: flex;
	padding: 0.5em 0 0.5em 0;
	width: 100%;
	height: 1.5em;
	align-items: center;
	border: var(--border-color) 1px solid;
}
#chatform > * {
	position: absolute;
	min-height: 100%;
}
#chatform input[type="submit"] {
	right: 0;
	min-width: 30%;
	border: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	outline: none;
	padding: 0;
}
#chatform input[type="submit"]:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
#chatform input[type="text"] {
	box-sizing: border-box;
	left: 0;
	min-width: 70%;
	max-width: 70%;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.4);
	outline: none;
	color: #fff;
	padding-inline: 10px 10px;
	border: none;
}
#pre-room-header {
	max-width: 70%;
}
#chatarea {
	overflow-y: auto;
	height: 100%;
	top: 0;
	height: calc(100% - 40px);
	min-width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	perspective: 500px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.message {
	box-sizing: border-box;
	margin-bottom: 0.3em;
	padding: 0.5em;
	padding-inline: 10px 10px;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	background-clip: padding-box;
	display: flex;
	flex-direction: column;
	animation: fadein 0.3s ease-out;
}

.chat-name {
	position: relative;
	left: 0;
	top: 0;
	color: rgb(163, 163, 163);
	border-bottom: var(--border-color) 1px solid;
}
.chat-message-content {
	padding-inline: 10px 10px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.system-message {
	color: rgb(163, 163, 163);
	padding-inline: 15px;
	background-color: transparent;
	box-sizing: border-box;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	animation: fadein 0.3s ease-out;
}

header {
	font-size: 1.5em;
	border-bottom: 1px solid rgb(167 35 58);
	display: flex;
	background: rgb(167, 35, 58);
	background: linear-gradient(90deg, rgba(167, 35, 58, 1) 0%, rgba(0, 18, 32, 1) 74%);
	align-items: center;
	justify-content: space-between;
	padding: 0.2em 0 0.2em 0;
	padding-inline: 1em;
}
header #copyrights {
	color: rgb(167 35 58);
}
#header-title {
	display: flex;
	align-items: center;
}
#header-title ion-icon {
	padding-right: 0.5em;
}
#game-section {
	display: none;
	position: relative;
	height: 100vh;
	width: 100vw;
	background-image: url(../img/gamebackground.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#game-textarea {
	height: 12em;
	width: 50vw;
	margin-left: 2em;
	margin-top: 2em;
	border: 2px solid transparent;
	border-radius: 5px;
	resize: vertical;
	padding-inline: 10px 20px;
	font-size: 1.5em;
	color: #fff;
	outline: none;
	overflow-y: visible;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-y: visible;
	background-clip: padding-box;
	backdrop-filter: blur(5px);
}
#game-text-submit {
	margin-left: 64px;
	margin-top: 2em;
	outline: none;
	padding: 0.6em 1.2em 0.6em 1.2em;
	border: none;
	cursor: pointer;
	color: #fff;
	background-color: deepskyblue;
}
#game-text-submit:hover {
	box-shadow: 0px 0px 20px 0px deepskyblue;
}

#ready-wrapper {
	top: 0;
	position: absolute;
	right: 0;
	margin-top: 2em;
	margin-right: 2em;
	display: flex;
	flex-direction: column;
}
#textinput-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.information-wrapper {
	margin-right: 2em;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.fadein {
	animation: fadeinjc 2s forwards;
}
.fadeout {
	animation: fadeout 2s forwards;
}
@keyframes fadeinjc {
	0% {
		display: block;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
